/** Form Confirmation **/
#gforms_confirmation_message  {border: 1px solid #ff0000;}

.gform_confirmation_wrapper {

	th {color: #868686; text-align: left;}
	td {text-align: left;}
	table:first-of-type > table tbody tr:first-of-type td:first-of-type {background-color: #EAF2FA;}
}

/** Form Wrapper **/
.gform_wrapper {

  /** Heading **/
  .gform_heading {
    width: 100%;
    .gform_title {}
    .gform_description {}
  }

  /** Body **/
  .gform_body {
    .gform_fields {
      .gfield {
        /** standard fields **/

        input, select, textarea {
          font-size: 14px; line-height: 14px; color: #7a7a7a; font-weight: bold; display: block; padding: 14px 16px; -webkit-border-radius: 3px; border-radius: 3px; .box-sizing-border-box (border-box); border: solid 1px #ccc; box-shadow: @base-color 0px 0px 0px 0px; .transition ( all, 150ms, linear, 0);
          &:focus { border: 1px solid @base-color; box-shadow: @base-color 0px 0px 15px 0px; .transition ( all, 300ms, linear, 0); }
        }

        input {
          &[type="text"], &[type="password"], &[type="email"], &[type="url"], &[type="tel"], &[type="number"], &[type="range"], &[type="date"], &[type="search"],
          &.text, &.medium { width: 100%; -webkit-appearance:none; -moz--appearance:none; appearance:none; }
        }

        textarea {}
        input {}

        select {
          height: 49px; width: 100%; background: url(img/gform-select-box.png) no-repeat right top; margin: 0 0 10px;
          &:focus { background: url(img/gform-select-box-active.png) no-repeat right top; }
        }

        .selection-box:after { background-image: none; }

        textarea { width: 100%; }

        .instruction { font-family: 'Open Sans', sans-serif; }

        .gfield_radio, .gfield_checkbox {
          overflow: visible;

          li {
            overflow: visible;
            input {
              &[type=radio], &[type=checkbox] {
                 -webkit-appearance:none; -moz--appearance:none; appearance:none;
                font-size: 16px;
                line-height: 1em;
                height: 28px;
                padding: 5px;
                float: none;
                display: inline-block;
                position: relative;
                &:focus { box-shadow: none; }
                &:before {
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  .transition ( all, 300ms, linear, 0);
                }
                &:checked {
                  border: 1px solid @base-color;
                  &+label { color: #181818; .transition ( all, 300ms, linear, 0); }
                  &:hover { box-shadow: @base-color 0px 0px 15px 0px;}
                }
                &:hover {
                  border: 1px solid @base-color;
                  &:before { .transition ( all, 300ms, linear, 0); }
                }
              }
              &[type=checkbox] {
                border: 1px solid #ECECEC;
                &:before { content: "\f00c";
                  color: #fff;
                }
                &:checked {
                  background: @base-color;
                  &:before { color: #FFF; }
                  &:hover {
                    &:before { color: #fff; }
                  }
                }
                &:hover {
                  &:before { color: @base-color; }
                }
              }
              &[type=radio] {
                border-radius: 50%;
                width: 28px !important;
                height: 28px;
                color: #fff;
                &:before { content: "\f111"; padding: 0 1px; }
                &:checked {
                  &:before { color: @base-color; }
                  &:hover {
                    &:before { color: @base-color; }
                  }
                }
                &:hover {
                  &:before { color: #BADBE3; }
                }
              }
            }
            label { color: #888888; .transition ( all, 300ms, linear, 0); font-weight: bold; margin: 0 24px; width: 95%; display: inline-block;}
          }
          
          &.gfield_checklist_items {
	          li {
		          position: relative;
							margin-left: 0 !important;
					    display: block;
					    padding: .65em 0 .65em 2.5em !important;
					    .box-sizing(border-box);
						  width: 90% !important;
		          
		          &:before {
			          font: normal normal normal 14px/1 FontAwesome;
	              content: "\f00c";
						    display: block;
						    margin-right: .5em;
						    background-color: #107C97;
						    color: #fff;
						    padding: .35em;
						    border-radius: 3px;
						    position: absolute;
							  top: 50%;
							  left: 0;
							  margin-top: -1em;
		          }
	          }
          }
        }
        .gfield_radio {
          li { margin: 20px 0;
            label { margin: 7px 0 0 10px; width: auto;
            }
            input[type=radio] {}
            input[type=text] { top: -35px; position: relative; margin: 0 0 0 6%; width: 94%;
              @media only screen and (max-width: 959px) {
                margin: 0 0 0 8%; width: 92%;
              }
              @media only screen and (max-width: 480px) {
                margin: 0 0 0 13%; width: 87%;
              }
            }
            &:first-child { margin-top: 5px; }
            @media only screen and (max-width: 480px) {
              width: 100%;
              label { width: 87%; margin-right: 0; }
            }
          }
        }
        .gfield_checkbox {
          li {
            label { width: auto; max-width: 94%; margin: 7px 10px 0; }
            input[type=checkbox] {}
            @media only screen and (max-width: 480px) {
              width: 100%;
              label { width: 87%; margin-right: 0; }
            }
          }
        }

        /** advanced fields **/
        .ginput_complex {
          overflow: visible;
          &> span:first-child { margin-left: 0; }
          .ginput_left, .ginput_right, .ginput_full {
            overflow: visible;
            input, select, textarea { margin: 0; width: 100% !important; }
            label { color: #AAAAAA; font-weight: normal; .transition ( all, 300ms, linear, 0); }
            input:focus+label { color: @base-color; .transition ( all, 300ms, linear, 0); }
          }
          .ginput_left, .ginput_right { width: 49%; margin-left: 2%; }

          .ginput_left { margin-left: 0; }
          .ginput_right {
            &:after {
              content: "";
              clear: both;
              display: table;
            }
          }
          .ginput_full { width: 100%; float: left; }
          .ginput_cardextras {
            margin-top: 10px;
            display: inline-block;
            .ginput_cardinfo_left, .ginput_cardinfo_right {
              position: relative;
            }
            .ginput_cardinfo_left {       
              .ginput_card_expiration_container {
                margin-bottom: 10px;
                .selection-box:first-child {
                  margin-bottom: 10px;
                }
              }
            }
            .ginput_cardinfo_right {
              margin-bottom: 10px;
              .ginput_card_security_code_icon {
                position: absolute;
                top: 50%;
                left: 59px;
                margin-top: -22px;
              }
            }
          }
        }
        .gfield_time_hour {
          input {}
          label {}
        }
        .gfield_time_minute {
          input {}
          label {}
        }
        .gfield_time_ampm {
          select {}
        }
        .datepicker { width: 145px !important; }
        .ui-datepicker-trigger { position: absolute; top: 15px; left: 110px; }
        .gfield_input_datepicker_icon {}
        .gfield_date_month {
          input {}
          label {}
        }
        .gfield_date_day {
          input {}
          label {}
        }
        .gfield_date_year {
          input {}
          label {}
        }

        /** HTML 5 Fields **/
        input {
          &[type=email] {}
          &[type=tel] {}
          &[type=url] {}
        }

        /** Captcha Fields **/
        .recaptcha_widget_div .recaptcha_area {}
        .gfield_captcha_container {
          .gfield_captcha {}
          .gfield_captcha_input_container input {}
        }

        /** Validation - Error Container **/
        &.gfield_error {
          border: none; background: none; padding: 0 !important; margin: 0 !important; width: 100%;
          label { color: @error; }
          input, select, textarea {
            border: 2px solid @error; margin: 9px 0 3px -1px; box-shadow: @error 0px 0px 0px 0px;
            &:focus { border: 2px solid @error; box-shadow: @error 0px 0px 15px 0px; }
          }
          .validation_message {  color: #790000; border: none; background: @error; padding: 3px 10px 1px !important; width: auto; display: inline-block; border-radius: 2px; margin: 0; }
        }

        .ginput_list {
          .gfield_list {
            width: 100%;
            .gfield_list_row_odd, .gfield_list_row_even {
              td {
                background: none;
                &.gfield_list_icons { width: 55px; padding: 15px 0 0; vertical-align: top; }
              }
            }
            th {
              color: @base-color;
              background: none;
              font-weight: normal;
              font-size: 10px;
            }
            th + th {
              text-indent: 3px;
            }
          }
        }
        &.gf_list_2col, &.gf_2col {
          .gfield_checkbox, .gfield_radio {
            li {
              width: 45%;
              margin-top: 0;
              margin-bottom: 8px;
              margin-right: 2.5%;
              margin-left: 2.5% !important;
              @media only screen and (max-width: 480px) {
                width: 95%;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 0;
                margin-left: 15px !important;

                &:first-child {
                  margin-top: 20px;
                }
              }
            }
          }
        }
        &.gfield_creditcard_warning {
          padding: 0 !important;
          border-radius: 3px;
          border: 1px solid #790000;
          .gfield_creditcard_warning_message {
            background-color: #F27669;
            background-position: 0 -2px;
            color: #790000;
            text-shadow: none;
            font-family: inherit;
          }
          label {
            margin-top: 10px !important;
            padding-left: 10px;
            
          }
          input { background: none;}
          .ginput_complex {
            .ginput_full {
              padding-right: 10px;
              .box-sizing-border-box (border-box);
              overflow: visible;
              float: left;
              width: 100%;

              .ginput_cardinfo_left, .ginput_cardinfo_right {}
              .ginput_cardinfo_left {
                margin-left: 0;
                .ginput_card_expiration_container {
                  .ginput_card_expiration {
                    width: 49%;
                    margin-left: 2%;
                    margin-right: 0;
                    &:first-child {
                      margin-left: 0;
                    }
                  }
                }
              }
              .ginput_cardinfo_right {
                position: relative;
                .ginput_card_security_code {}
                .ginput_card_security_code_icon {}
                label {}
              }
              label {
                margin: 0 !important;
                padding: 0;
                color: #F27669 ;
              }
            }
          }
        }
      }

      /** Section Breaks **/
      .gsection {
        width: 100%;
        margin-top: 35px;
        padding-bottom: 20px;
        border-bottom: 1px solid #EEEEEE;
        .gsection_title { font-size: 2em; }
        .gsection_description { font-family: 'Open Sans', sans-serif; width: 100%; }
        &:first-child { margin-top: 0 !important; }
        &.gf_scroll_text { margin-top: 0; }
      }

      .ginput_container { position: relative; }
      .gfield_description { padding: 0; width: 100%; color: #AAAAAA; font-family: 'Open Sans', sans-serif; }
      .gfield_label { color: #333333; font-weight: normal; }
      .gfield_required { color: @error; font-weight: bold; }

      &.top_label { /** top label **/
        .gfield {
          &.gf_left_third, &.gf_middle_third, &.gf_right_third, &.gf_left_half, &.gf_right_half {
            float: left;
            margin: 0 0 8px 2% !important;
            @media only screen and (max-width: 767px) {
              margin: 10px 0 !important;
            }
            .box-sizing-border-box (border-box);
            input, select {
              &.medium, &.large { width: 100%; }
            }
          }
          &.gf_left_third, &.gf_left_half {
            margin: 0 0 8px 0% !important;
          }
          // &.ginput_full { width: 100%; }
          &.gf_two_thirds { width: 66% !important; }
          &.gf_quarter { width: 23.5% !important; }
          &.gfield_error {
            &.gf_left_third, &.gf_middle_third, &.gf_right_third, &.gf_left_half, &.gf_right_half {
              padding: 0 !Important;
            }
            &.gf_left_third, &.gf_middle_third, &.gf_right_third {
              width: 32%;
            }
            &.gf_left_half, &.gf_right_half {
              width: 49%;
            }
            .ginput_container {
              margin-top: 0;
              max-width: 100%;
            }
            .gfield_label {
              margin-top: 10px;
            }
          }
          &.gf_list_inline {
            .gfield_radio, .gfield_checkbox {
              label { width: auto; }
              input[value=gf_other_choice], input[value=Other] {
                margin-top: 4px;
              }
            }
            .gfield_radio {
              li {
                float: left !important;
                margin-right: 30px;
                margin-top: 10px;
              }
              
              input[value=gf_other_choice] {
                margin-top: 4px !important;

                & + input {
                  top: -42px;
                  left: 24px;
                  width: 82%;

                }
              }
            }
          }
        }
        .gfield_radio {
          li {
            margin: 0 0 20px;
            &:first-child { margin-top: 0px; }
            // label { margin-top: 0px;}
          }
        }

        &.description_above {}
        &.description_below {}
      }
      &.left_label { /** left label **/
        .gfield {
          label, .ginput_complex, .ginput_container {
            display: inline-block; vertical-align: top;
            float: none;
            .gfield_checkbox, .gfield_radio {
	                margin-left: 0 !important;
            }
          }
          .gfield_label {
	          margin-top: 1.15em;
// 	          text-align: right;
            @media only screen and (min-width: 1241px) {
//               background: red;
              padding-left: 100px;
            }
            
	        }
/*
	        &.gfield_calculation, &.gfield_total {
		        .gfield_label {
			        margin-top: .375em;
		        }
	        }
*/
          label { margin: 0; .box-sizing-border-box (border-box); padding-right: 10px;}
          .ginput_complex, .ginput_container {
            width: 70%;
            .box-sizing-border-box (border-box);
            input, select, textarea { margin-top: 0; width: 100%; }
          }
          .ginput_container {
            @media only screen and (min-width: 1241px) {
	            padding-right: 100px;
// 	            background: red;
	            .box-sizing-border-box (border-box);
            }
            
            .ginput_product_price_label, .ginput_product_price, .ginput_total {
	            margin-top: 11px;
	            display: inline-block;
            }
          }
          .gfield_description { margin-left: 29%; width: 71%;
            &.validation_message { margin-bottom: 20px; width: auto; }
          }
          &.gfield_error {
	          .ginput_container {
		          margin-left: 0;
	          }
            input, select, textarea { margin-bottom: 10px; }
            .ginput_complex {
              input, select, textarea { margin-bottom: 0; }
            }
            .gfield_description { margin-bottom: 10px;
              &.validation_message { margin-bottom: 20px; }
            }
          }
          .gfield_radio, .gfield_checkbox {
            label { margin-left: 12px; padding-right: 0; width: 87%;
              @media only screen and (max-width: 480px) {
                width: 75%;
              }
            }
          }
          .gfield_radio {
            label { margin-top: 4px; }
          }
          &.gf_list_inline {
            .gfield_radio, .gfield_checkbox {
              label { width: auto; }
            }

          }
          .gfield_checkbox {
            label { margin: 3px 10px; }
          }
        }
        &.description_below {}
        &.description_above {}
      }
      @media only screen and (max-width: 767px) {
        &.left_label, &.top_label {
          .gfield {
            float: left;
            width: 100%;
            margin: 10px 0 !important;
            box-sizing: border-box;

            label, .ginput_container, .gfield_description, .gfield_radio, .gfield_checkbox,
            &.gf_left_third, &.gf_middle_third, &.gf_right_third { width: 100%; }

            &.gf_left_third, &.gf_middle_third, &.gf_right_third { margin: 10px 0 !important; }
            .gfield_description {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  /** Multi-Page Form Fields **/
  .gf_progressbar_wrapper {
    h3.gf_progressbar_title {
      font-size: 24px;
    }
  }
  .gform_page {}
  .gform_page_footer { overflow: auto;
    .gform_next_button {}
    .gform_previous_button {}
    .gform_button {}
    .button {
      margin-right: 10px;
      -webkit-appearance:none; -moz--appearance:none; appearance:none;
    }
  }

  /** Footer **/
  .gform_footer {
    overflow: auto;
    input {
      &[type=submit] {}
      &[type=image] {}
    }
    &.right_label, &.left_label {
      padding: 16px 0 10px 29%;
    }
  }

  /** Validation Errors **/
  .validation_error { background: @error; padding: 1em; border-radius: 3px; border: 1px solid #790000; }

  /** Multi-Page Form Progress Bar Container **/
  .gf_progressbar_wrapper {
    border: 1px dotted #CCC;
    padding: 20px;
    border-radius: 5px;
    .box-sizing-border-box (border-box);
    width: 100%;
    margin-bottom: 40px;
    .gf_progressbar {
      width: 100%;
      border: 1px solid #CCCCCC;
      .box-sizing-border-box (border-box);
      box-shadow: none;
      border-radius: 3px;
      .percentbar_blue { background-color: #007C99; }
    }
    .gf_progressbar_percentage {}
  }

  /** Multi-Page Form Steps Container **/
  .gf_page_steps {
    .gf_step {}
    .gf_step_active {}
  }

  .gfield_password_strength {
    width: 68%;
    margin-left: 29%;
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }

  .gform_fileupload_multifile {
    .gform_drop_area {
      .button.gform_button_select_files {
        float: none;
        display: inline-block;
        margin: 0px 0 0 20px;
        color: #fff;
        letter-spacing: 1px;
      }
    }
  }
}

#ui-datepicker-div {
  padding: 0 10px 10px; background: #666666; border-radius: 5px;
  .ui-datepicker-header { border: none; box-shadow: none;
    .ui-datepicker-title { float: left; width: 100%;
      select { width: 48%; float: left; margin-left: 4%; font-size: 1.25em; padding: 0 0 0 15px;
        &:first-child { margin-left: 0; }
      }
    }
  }
  .ui-datepicker-calendar { border-radius: 5px; overflow: hidden; border: none;
    thead {
      th { text-shadow: none; color: #fff; font-weight: normal; letter-spacing: 1px;
      }
    }
  }
  select { height: 47px; width: 100%; background-image: url(img/gform-select-box.png); background-repeat: no-repeat; background-position: 60px;
    &:focus { background-image: url(img/gform-select-box-active.png); }
  }
}

.page-template-tpl-feature-php {
  .gform_wrapper {
    .gform_body{
      .gform_fields.left_label{
        .gfield{
          .gfield_radio, .gfield_checkbox{
            label {
              width: 86%;
              @media only screen and (max-width: 480px) {
                width: 83%;
              }
            }
          }
          &.gf_list_2col {
            .gfield_checkbox {
              li {
                @media only screen and (max-width: 480px) {
                  margin-top: 10px;
                }
                label {
                  width: 77%;
                  @media only screen and (max-width: 1240px) {
                    width: 66%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.tax-vendor_category {
	article:first-of-type {padding-top: 0;}
	.entry-thumb {border: 1px solid #DFDFDF;}
}