/** dropkick styles **/

.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after, .dk-select-multi, .dk-select-multi *, .dk-select-multi *:before, .dk-select-multi *:after {
  .box-sizing-border-box (border-box);
}

.dk-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
  width: 100%;
  cursor: pointer;
  
  .dk-selected {
    font-size: 14px;
    height: 47px;
    line-height: 14px;
    color: #c6c6c6;
    font-weight: bold;
    display: block;
    padding: 16px 32px 16px 16px;
    border-radius: 3px;
    .box-sizing-border-box (border-box);
    
    box-shadow: #007c99 0px 0px 0px 0px;
    .transition ( all, 150ms, linear, 0);

    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background-color: white;
    border: 1px solid #CCCCCC;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    &:after {
      content: "\f078";
      font: normal normal normal 16px/1 FontAwesome;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 1em 1em;
    }
    &:hover, &:focus { outline: none; 
      &:before, &:before { border-top-color: #3297fd; }
      &:after, &:after {  }
    }
  }
  .dk-selected-disabled { color: #BBBBBB; }

  .dk-select-options {
    position: absolute;
    display: none;
    left: 0;
    padding: 0;

    width: 100%;
    z-index: 100;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 15.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    .dk-option {
      padding: 14px 16px;
      margin: 0;
      border: none;
      .box-sizing-border-box (border-box);
      width: 101%;
      font-weight: bold;
      border-top: 1px solid #E9E9E9;
      border-bottom: 1px solid #E9E9E9;
      margin-top: -1px;
      &:first-child { display: none;  }
      &:last-child { border-bottom: none;}
      &.dk-option-selected {
        background-color: #BADBE3;
        color: @base-color;
        position: relative;
        &:after {
          content: "\f058";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          font-size: 14px;
          width: 14px;
          height: 14px;
          right: 14px;
          top: 50%;
          margin-top: -7px;
          .transition (all ,300ms ,linear ,0);
        }
      }
      &.dk-option-highlight {
        background-color: @base-color;
        color: #fff;
        border-top: 1px solid @base-color;
        border-bottom: 1px solid @base-color;
        position: relative;
        z-index: 1;
      }


      &.dk-option-disabled {
        color: #BBBBBB;
        background-color: transparent;
      }
    }
  }
  &.dk-select-options-highlight .dk-option-selected {
    background-color: transparent;
    color: inherit;
  }
  .dk-select-options {
    opacity: 0;
    .transition (all ,300ms ,ease-in-out ,00ms);
  }
  &.dk-select-open-up {
    .dk-select-options {
      margin-bottom: -1px;
      bottom: 120%;
    }
  }
  &.dk-select-open-down {
    .dk-select-options {  
      margin-top: -1px;
      top: 120%;
    }
  }
  &.dk-select-open-up, &.dk-select-open-down {
    .dk-selected {
      border: 1px solid #007c99;
      box-shadow: #007c99 0px 0px 15px 0px;
      .transition (all ,300ms ,linear ,0);

      &:after {
        color: @base-color;
        .transition (all ,300ms ,linear ,0);
      }
    }
    .dk-select-options {
      display: block;
      border-color: @base-color;
      opacity: 1;
      .transition (all ,300ms ,ease-in-out ,100ms);
    }
    & + select + label {
      color: @base-color !important;
    }
  }
}









.dk-optgroup {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding: 0.25em 0;
  margin-top: 0.25em; 
  & + .dk-option {
    margin-top: 0.25em;
  }
  & + .dk-optgroup {
    border-top-width: 0;
    margin-top: 0;
  }
  &:nth-child(2) {
    padding-top: 0;
    border-top: none;
    margin-top: 0;
  }
  &:last-child {   
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.dk-optgroup-label {
  padding: 0 0.5em 0.25em;
  font-weight: bold;
  width: 100%; }

.dk-optgroup-options {
  list-style: none;
  padding-left: 0;
  li { padding-left: 1.2em; }
}



.dk-select-multi:hover, .dk-select-multi:focus {
  outline: none; }



.dk-select-disabled {
  opacity: 0.6;
  color: #BBBBBB;
  cursor: not-allowed;
}
  .dk-select-disabled .dk-selected:hover, .dk-select-disabled .dk-selected:focus {
    border-color: inherit; }
    .dk-select-disabled .dk-selected:hover:before, .dk-select-disabled .dk-selected:focus:before {
      border-top-color: inherit; }
    .dk-select-disabled .dk-selected:hover:after, .dk-select-disabled .dk-selected:focus:after {
      border-left-color: inherit; }

.dk-select + select {
  display: none !important;
}

select[data-dkcacheid] {
  display: none; }

