.dt-sc-toggle-frame {
	h5 {
		&.dt-sc-toggle {
			&.avocado				{ background:#72723e; }
			&.black					{ background:#262626; }
			&.blue					{ background:#478bca; }
			&.blueiris			{ background:#595ca1; }
			&.blueturquoise	{ background:#08bbb7; }
			&.brown					{ background:#8f5a28; }
			&.burntsienna		{ background:#d36b5e; }
			&.chillipepper	{ background:#b31f41; }
			&.eggplant			{ background:#614051; }
			&.electricblue	{ background:#536878; }
			&.graasgreen		{ background:#81c77f; }
			&.gray					{ background:#7d888e; }
			&.green					{ background:#00a988; }
			&.orange				{ background:#f67f45; }
			&.palebrown			{ background:#987654; }
			&.pink					{ background:#e472ae; }
			&.radiantorchid	{ background:#af71b0; }
			&.red						{ background:#ef3a43; }
			&.skyblue				{ background:#0facce; }
			&.yellow				{ background:#eec005; }
			&.white					{ background:#ffffff; color:#868686;  }
			&.violet				{ background:#9b59b6; }
			&.emerald				{ background:#1abc9c; }
			&.wetasphalt		{ background:#34495e; }

			&.active.avocado:before				{ background-color:#72723e; }
			&.active.black:before					{ background-color:#262626; }
			&.active.blue:before					{ background-color:#478bca; }
			&.active.blueiris:before			{ background-color:#595ca1; }
			&.active.blueturquoise:before	{ background-color:#08bbb7; }
			&.active.brown:before					{ background-color:#8f5a28; }
			&.active.burntsienna:before		{ background-color:#d36b5e; }
			&.active.chillipepper:before	{ background-color:#b31f41; }
			&.active.eggplant:before			{ background-color:#614051; }
			&.active.electricblue:before	{ background-color:#536878; }
			&.active.graasgreen:before		{ background-color:#81c77f; }
			&.active.gray:before					{ background-color:#7d888e; }
			&.active.green:before					{ background-color:#00a988; }
			&.active.orange:before				{ background-color:#f67f45; }
			&.active.palebrown:before			{ background-color:#987654; }
			&.active.pink:before					{ background-color:#e472ae; }
			&.active.radiantorchid:before	{ background-color:#af71b0; }
			&.active.red:before						{ background-color:#ef3a43; }
			&.active.skyblue:before				{ background-color:#0facce; }
			&.active.yellow:before				{ background-color:#eec005; }
			&.active.white:before					{ background-color:#ffffff; }
			&.active.violet:before				{ background-color:#9b59b6; }
			&.active.emerald:before				{ background-color:#1abc9c; }
			&.active.wetasphalt:before		{ background-color:#34495e; }


			&.avocado, &.black, &.blue, &.blueiris, &.blueturquoise, &.brown, &.burntsienna, &.chillipepper, &.eggplant, &.electricblue, &.graasgreen, &.gray, &.green, &.orange, &.palebrown, &.pink, &.radiantorchid, &.red, &.skyblue, &.yellow, &.violet, &.emerald, &.wetasphalt {
				a {color: #ffffff;}
			}
		}
	}
}


.dt-sc-colored-box h5 {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: bold !important;
}

@media (min-width: 1241px) {
	.concierge-dashboard .dt-sc-colored-box {min-height: 160px;}
}
@media (max-width: 1240px) and (min-width: 960px){
	.concierge-dashboard .dt-sc-colored-box {padding-top: 10px; min-height: 160px;}
	.dt-sc-one-sixth .dt-sc-colored-box h5 {margin: 6px 0 20px 2px;}
	.dt-sc-one-sixth .dt-sc-colored-box h5 span.fa {display: none;}
	.dt-sc-one-sixth .dt-sc-colored-box p {margin-left: 2px;}
	.dt-sc-one-sixth .dt-sc-colored-box .dt-sc-button {margin-left: 2px;}
}
@media (max-width: 959px) and (min-width: 768px) {
	.concierge-dashboard .dt-sc-colored-box {min-height: 230px;}
	.dt-sc-colored-box h5 span.fa {display: none;}
	.dt-sc-colored-box h5 {margin: 6px 0 20px 2px;}
	.dt-sc-one-sixth .dt-sc-colored-box p {margin-left: 2px;}
	.dt-sc-one-sixth .dt-sc-colored-box .dt-sc-button {margin-left: 2px;}

}