/** Association Management Page **/
.assoc-section1 {
  position: relative;
  &:before { opacity: 0; }
  .main-title-wrapper {
    .main-title-icon {
      color: #003F4E;
      border: 2px solid #003F4E;
    }
    .main-title {
      border-left: 1px solid #003F4E;
      width: 80%; 
      // @media only screen and (max-width: 959px) { width: 80%; }
      @media only screen and (max-width: 767px) { width: 100%; border: none; }
      h2, h4 { color: #003F4E;}
    }
    
  }
  ul {
    width: 100%;
    margin-top: 60px;
    float: left;
    -moz-column-count: 2;
    -moz-column-gap: 400px;
    -webkit-column-count: 2;
    -webkit-column-gap: 400px;
    @media only screen and (max-width: 959px) {
      -moz-column-count: 1;
      -moz-column-gap: 10px;
      -webkit-column-count: 1;
      -webkit-column-gap: 10px;
      width: 350px;
    }
    @media only screen and (max-width: 767px) { width: 70%; }
    @media only screen and (max-width: 479px) {
  width: 100%;
  margin-bottom: 250px;
    }

    li {
      position: relative;
      padding: 0px 0 30px 40px;
      color: #003F4E;
      @media only screen and (max-width: 959px) { font-size: 16px; padding-bottom: 10px; }
      i {
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 30px;
        @media only screen and (max-width: 959px) { font-size: 20px; }
        color: #003F4E;

      }
    }
  }
  .image-container {
    position: static !important;
    img {
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      left: 50%;
      margin-left: -155px;
      width: 310px;
      height: auto;
      @media only screen and (max-width: 959px) { left: 70%; }
      @media only screen and (max-width: 767px) { left: 86%; width: 360px; }
      @media only screen and (max-width: 479px) {
        left: 50%;
        width: 240px;
        position: absolute;
        bottom: 0;
        margin-left: -120px;
      }
    }
  }
}
.assoc-section2 {
  background-position: center 10px !important;
  p {
    padding: 20px 40px 100px;
    text-align: center;
    @media only screen and (max-width: 767px) { text-align: left; }
  }
}
.assoc-section3 {
  background-position: center 10px !important;
  &:before { opacity: 0 }
  p {
    padding: 20px 40px 100px;
    color: #ddd;
    line-height: 1.75em;
  }
}
/** end of Association Management Page **/

/*  Quote form  */
.get-a-quote {
  max-width: 710px;
  margin: 0 auto;
}
/*  end of Quote form  */



/* Fine Tuning for Concierge Dashboard Page */
.concierge-dashboard {
  .dt-sc-colored-box { padding-left: 10%; padding: 15px 15px 20px !Important; width: 100%; .box-sizing(border-box);
    .dt-sc-button { padding: 7px 12px; }
  }
  .dt-sc-two-sixth, .dt-sc-one-sixth {
    .dt-sc-colored-box {
      h5, p, .dt-sc-button { margin-left: 0; }
    }
  }
  .dt-sc-hr-invisible { margin: 11px 0; }

  @media (max-width: 959px) and (min-width: 768px) {
    .dt-sc-hr-invisible { margin: 6px 0; }

    .dt-sc-two-sixth { width: 31.7%; }
    .dt-sc-one-sixth { width: 16%;
      // .dt-sc-colored-box { padding-left: 10%; padding: 15px 7.5% 20px; width: 85%; }
    }
    
    .column { margin: 0 0 0 1.5%;
      &.first {margin-left: 0;}
      &.last {width:33.6%;}
    }
    .dt-sc-two-sixth, .dt-sc-one-sixth {

      .dt-sc-colored-box { min-height: 180px;

        h5 { font-size: 1.1em; margin-left: 0; }
        p { font-size: .9em; margin-left: 0; height: 72px; line-height: 1.5em;
          &+ p {margin-bottom:0;}
        }
        .dt-sc-button { font-size: .73em; }
      }
    }
  }
  @media (max-width: 1240px) and (min-width: 960px) {

    .dt-sc-two-sixth, .dt-sc-one-sixth {
      .dt-sc-colored-box {

        p {
          font-size: 1.1em;
          &+ p {margin-bottom:0;}
        }
        .dt-sc-button { font-size: .95em; }
      }
    }
    .dt-sc-one-sixth {
      .dt-sc-colored-box {
        h5 { margin: 11px 0 21px 2px; }
      }
    }
  }
  @media only screen and (min-width: 960px) {
    
    .dt-sc-two-sixth, {
      width: 32%;
    }
    .dt-sc-two-sixth, .dt-sc-one-sixth {
      .dt-sc-colored-box {
        h5 { margin-left: 0; font-size: 1.1em; }
        p { height: 72px; margin-left: 0; font-size: 1.1em; line-height: 1.25em;}
        .dt-sc-button { min-width: 62px; text-align: center; }
      }
    }
  }

  @media only screen and (min-width: 1240px) {
    .dt-sc-two-sixth, { width: 32%; }
    
      .dt-sc-colored-box {
        p { height: 82px; font-size: 1.2em; margin-left: 0; }
      }
    
  }
  @media only screen and (max-width: 768px) {
    .dt-sc-hr-invisible { margin: 0; }
  }
} // .concierge-dashboard

// compare plans page
.compare-table {
  &.management-table {
    .dt-sc-buy-now {
      display: none;
    }
  }
}

// single properties page
body {
	&.single-dt_properties {
		
		@media only screen and (max-width: 479px) and (min-width: 320px) {
			overflow: hidden;
			section.fullwidth-background { margin: 0; }
			.container {
				width: 100%;
			}
		}
	}
	
	.property-single-detail {
		.single-property-info {
			display: flex;
			align-items: center;
			position: relative;
			min-height: 49px;
			@media only screen and (max-width: 1239px) and (min-width: 480px) {
				position: relative;
				min-height: 43px;

			}
			@media only screen and (max-width: 959px) {

				font-size: 0.85em;
				padding-bottom: 0;
				li:nth-child(1) { margin-bottom: 0; }
				li.addthis_toolbox { padding: 5px 0; }
			}
			@media only screen and (max-width: 767px) {
				display: block;
				width: 100%;
				padding-right: 0;
			}
			@media only screen and (max-width: 479px) {
				margin-bottom: 0;
			}
			li {
				padding-bottom: 0;
				padding-top: 0;
				&.price { padding: 13px 20px 13px; }
				line-height: 1.25em;
				a, span { display: inline-block; }
				&.addthis_32x32_style {
					position: absolute;
					top: 3px;
					right: 8px;
					padding: 0;
					@media only screen and (max-width: 959px) {
						position: absolute
					}
					@media only screen and (max-width: 767px) {
						position: relative;
						width: 100%;
				    right: 0;
				    left: 5px;
				    padding: 10px;
					}
					.addthis_counter.addthis_bubble_style {
						top: 5px;
						position: relative;
						a.addthis_button_expanded {
							position: relative;
							top: -5px;
						}
					}
				}
				&:nth-child(5) {
					@media only screen and (max-width: 1239px) and (min-width: 768px) { 
						display: none;
					}
				}
				&:nth-child(2) {
					@media only screen and (max-width: 959px) and (min-width: 768px) {
						display: none;
					}				
				}
				@media only screen and (max-width: 1239px) and (min-width: 479px) {
					padding: 0px 5px 0;
					&:first-child {
						padding: 10px;
					}
				}
				@media only screen and (max-width: 959px) and (min-width: 768px) {
					padding: 0px 5px 0;
				}		
				@media only screen and (max-width: 767px) {
					box-sizing: border-box;
					width: 50%;
					font-size: 1.2em;
					&:first-child, &:nth-child(6) {
						width: 100%;
						margin: 0;
					}
					&:nth-child(6) {
						padding: 10px;
					}					
				}
				@media only screen and (max-width: 479px) {
					display: none;
					&:first-child { display: block; }
				}
				&.addthis_toolbox {
					@media only screen and (max-width: 1239px) and (min-width: 960px) {
						float: none;
						max-width: 210px;
						display: inline-block;
						position: absolute;
						right: 8px;
						top: 1px;			
					}
					@media only screen and (max-width: 959px) and (min-width: 768px) {
						top: 0;
					}
					span {
						@media only screen and (max-width: 1239px) and (min-width: 768px) { 
							display: none;
						}
					}
				}
				
			}
		}
		#property-video.column.no-space.dt-sc-two-third {
			@media only screen and (max-width: 959px) {
				width: 100% !important;
			}
		}
		#single-property-enquiry-form.column.no-space.dt-sc-one-third {
			@media only screen and (max-width: 959px) {
				width: 100% !important;
			}			
		}
		
		.gform_wrapper {
			@media only screen and (max-width: 479px) {
				max-width: 100%;
			}
			.gform_body {
				.gform_fields {
					.gfield input[type="text"], &.top_label .gfield.gf_left_half input.medium {
						padding: 10px;
						margin: 0;
						@media only screen and (max-width: 1240px) and (min-width: 960px) {
							font-size: 12px !important;
							padding: 5px;
						}
						@media only screen and (max-width: 959px) {}
						@media only screen and (max-width: 767px) {}
						@media only screen and (max-width: 479px) {}
					}
					&.top_label .gfield.gf_left_half {
						@media only screen and (max-width: 1240px) and (min-width: 960px) {
							margin: 0 !important;
						}
					}
					&.top_label .gfield.gf_right_half {
						@media only screen and (max-width: 1240px) and (min-width: 960px) {
							margin: 0 0 0px 2% !important;
						}
					}
					.ginput_container { margin-top: 0;}
					.gfield {
						textarea {
							padding: 10px; margin-top: 0 !important;
							@media only screen and (max-width: 1240px) and (min-width: 960px) {
								font-size: 12px !important;
								padding: 8px;	
							}
						}
						.datepicker {
							@media only screen and (max-width: 1240px) and (min-width: 960px) {
								width: 100% !important;
							}
						}
						.ui-datepicker-trigger {
							@media only screen and (max-width: 1240px) and (min-width: 960px) {
							  top: 6px;
							  left: 105px;
							}
						}
					}
					.gfield_label {
						@media only screen and (max-width: 1240px) and (min-width: 960px) {
							font-size: 12px !important;
						}
					}
				}
			}
			.gform_footer {
				input[type=submit],  > input {
					-webkit-appearance: none !important;
					@media only screen and (max-width: 479px) {
						width: 100% !important;
						display: block;
					}
				}
			}
			label.gfield_label+div.ginput_container {
				margin-top: 0 !important;
			}
		}
		
		.form-padding {
			position: relative;
			.rental-app-link {
				@media only screen and (max-width: 1240px) and (min-width: 960px) {
				  display: inline-block;
				  float: none;
				  position: absolute;
				  bottom: 10px;
				  width: 205px;
				}
				@media only screen and (max-width: 479px) {
				  float: none;
				  text-align: center;
				  width: 100%;
				  display: block;
				  margin: 0;
				  position: relative;
				  height: 40px;
				}
				
				.dt-sc-button.orange {
					background-color: #F6F6F6;
					&:hover { background-color: #F87F3C; }
					@media only screen and (max-width: 1240px) and (min-width: 960px) {
					  position: absolute;
					  top: -23px;
					  font-size: 12px;
					  left: 0;
					}
					@media only screen and (max-width: 479px) {
						width: 100%;
						box-sizing: border-box;
						position: absolute;
						left: 0;
						top: -15px;
					}
				}
			}			
		}
		

		.zl_matetabs {
			border-color: rgb(0, 124, 153);
			width: 100%;
			
			&> ul {
				background-color: rgb(0, 124, 153);
				li:last-child { border-right-style: none; }
			}
			.zl_switch_to_nav {
				color: rgb(0, 124, 153);
				border-right-color: rgb(0, 124, 153);
				font-size: 16px;
				padding: 20px 5px;
				margin-left: 10px;
				border-left-style: none;
				display: none;

				i { margin-right: 5px; }
			}
			

			.zl_switch_to_nav.zl_nav_trig {
				margin: 0;
				color: rgb(255, 255, 255);
				border-top-color: rgb(0, 124, 153);
				border-bottom-color: rgb(0, 124, 153);
				font-size: 16px; padding:20px;
				display: block;
				background-color: rgb(0, 124, 153);
				i { margin-right: 5px; }
			}
			
			&> section {
				background-color: rgb(255, 255, 255);
				&#pricing-availability-tab, &#floorplans-tab {
					@media only screen and (max-width: 767px) {
						padding: 0 !important;
						table { margin-bottom: 0; }
					}
				}
				&#map-neighborhood-tab {
					.map #ws-walkscore-tile {
						@media only screen and (max-width: 479px) {
							max-width: 480px !important;
							width: 100% !important;
						}
					}
				}
			}
		}

		.property-gallery-container { background: #f6f6f6; }
		
		#property-features-tab {
			display: block;
			@media only screen and (max-width: 479px) and (min-width: 320px) {
				display: none;
			}
		}
	}
}







/* FourandHlad Landing page */
.page-id-10957 { // page-id to hide footer and header
	#header-wrapper-sticky-wrapper, #footer { display: none;}
}

.fourandhalf {
	padding: 80px 0;
	font-size: 1rem;
	
	&.page-header {
		p { font-size: 1.25em; padding-left: 11em; font-weight: 300;
			@media only screen and (max-width: 767px) { padding-left: 0; }
			strong { font-weight: 400; }
		}
		@media only screen and (max-width: 767px) {
			img { margin: 0 auto; display: block; width: 40%;}
		}
	}
	
	&.inside-header {
		padding: 30px 0 40px;
		.dt-sc-button {
			display: block;
			width: 100%;
			box-sizing: border-box;
			text-align: center;
		}
	}
	
	&.page-banner {
		padding: 0;
		h2 { font-size: 2.05em; margin: 1em 0 .5em; }
		p { font-weight: 300; }
		
		[class*=get-a-free-quote-fourandhalf] { // gravity forms styling
			& > [class*=get-a-free-quote-fourandhalf] { background-color: transparent; padding: 0; }	
	    margin: 0;
	    max-width: 100%;
	    padding: 70px 25px;
	    background-color: rgba(0,0,0, .4);
	    
			.gfield {
				padding-bottom: 0;
				.gfield_label { display: none; }
				.selection-box {
					select {
						&, &:focus { background-color: #fff; }
					}
				}
			}
			
			[id*=gform_submit_button] {
		    width: 100% !important;
		    font-size: 1.25em;
		    line-height: 2em;
				@media only screen and (max-width: 959px) {
					font-size: .75em;
				}
			}
		}
		
	}
	
	&.feature-list {
		h2 { font-size: 1.75em; margin-bottom: 2em; }
		.main-title-wrapper {
			.main-title {
				width: 74%; margin-bottom: 2em;
				h2 { font-size: 1.5em; margin-bottom: 0;
					@media only screen and (max-width: 767px) { font-size: 1.15em; }
				}
				h4 { font-size: 1.15em; line-height: 1.5em; color: #868686; }
				@media only screen and (max-width: 767px) {
			    text-align: left;
			    font-size: .9rem;
			    padding-left: 5%;
			    box-sizing: border-box;
				}
			}
		}
		@media only screen and (max-width: 767px) {
			.main-title-icon  {
				float: left;
			}
		}
	}
	
	&.testimonials {
		.caroufredsel_wrapper, .dt-sc-testimonial { margin-bottom: 0 ;}
		blockquote {
			background-color: #fff;
			q { color: #222; }
		}
		.author-detail {
			font-size: 1.5em; color: #fff;
			span { span { color: #fff; font-size: 1em !important; font-weight: 400;} }
		}
		
		.dt-sc-one-half {
			@media only screen and (max-width: 959px) {
				width: 100%;
			}
		}
	}
	
	&.pre-footer {
		&:before {
			background: #043845;
			opacity: .98;
		}
	}
	
	&.page-footer {
		p { margin-bottom: 4em; }
		.dt-sc-two-third {
			p { margin: 0 0 0 60%;
				@media only screen and (max-width: 767px) { margin: 0;}
			}
		}
		@media only screen and (max-width: 767px) {
			img { margin: 0 auto; display: block; width: 40%;}
		}
	}
}



/* 4 reasons Landing page */
.bg-4-reasons {
	h3 { margin-bottom: 4em; }
	a {
		&.img-container {
	    position: relative;
	    height: 170px;
	    display: block;
	    overflow: hidden;
			max-width: 300px;
			margin: 0 auto;
			& > img {
				opacity: .8;
				min-width: 300px !important;
				min-height: 170px !important;
				left: 0;
				top: 0;
				display: block;
				position: absolute;
				transition: all 0.25s ease-in-out;
			}
			
			&:hover {
				& > img {
					opacity: 1;
					min-width: 330px !important;
					min-height: 200px !important;
					left: -15px;
					top: -15px;
				}
			}
		}
	}
	
	.dt-sc-button {
    display: block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    max-width: 300px;
    margin: 10px auto 0;
    box-sizing: border-box;
		@media only screen and (max-width: 959px) and (min-width: 768px){
			font-size: 13px;
		}
	}
}
.four-reasons.fourandhalf.page-footer {
	padding: 6em 0 16.5em;
	@media only screen and (max-width: 767px) {
		padding: 80px 0;
	}
}









































