/*
Theme Name:	  Real Property (LBPM Version)
Theme URI:	  http://wedesignthemes.com/themes/dt-realhome
Author:		  Skyrocket Marketing
Author URI:	  http://skyrocketmarketing.com
Description:  Real Property theme mod for LBPM
Template:	  realproperty
Version:	  1.0
*/

// html { background: red !important; }

@import url("../realproperty/style.css");
@import url("css/mixins.less");
@base-color: 	#007C99;
@error: 			#F27669;
.invisible { display: none !important; }
.transition (@trans_property , @trans_time, @trans_effect, @trans_delay) {
  -webkit-transition: @trans_property @trans_time @trans_effect @trans_delay;
  	 -moz-transition: @trans_property @trans_time @trans_effect @trans_delay;
  		 -o-transition: @trans_property @trans_time @trans_effect @trans_delay;
  				transition: @trans_property @trans_time @trans_effect @trans_delay;
}

.box-sizing-border-box (@border-box) {
	-webkit-box-sizing: @border-box;
  	 -moz-box-sizing: @border-box;
  				box-sizing: @border-box;
}
.column-count (@column-count) {
  -webkit-column-count: @column-count;
  	 -moz-column-count: @column-count;
  				column-count: @column-count;
}

/** GLOBAL ENHANCEMENTS **/

#header-wrapper-sticky-wrapper {
	height: 125px !important;
	@media only screen and (max-width: 1240px) {
		height: 105px !important;
	}
	@media only screen and (max-width: 959px) {
		height: 90px !important;
	}
	#header {
		&.header2, &.header3 {

			.top-bar {

				.top-menu {
					width: 55%;
					height: 1.65em;
					height: auto;
					overflow: hidden;

					@media only screen and (max-width: 1240px) {
						width: 45%;
					}
					@media only screen and (max-width: 959px) {
						width: 55%;
					}
					li {
						display: inline-block;

					}
				}
			}

			// .container { display: inline-block;}
			#logo {
				margin-bottom: 0;
				@media only screen and (max-width: 479px) {
					height: auto;
				}
				a img {
					height: 60px;
					margin-top: 10px;
					.transition ( all, 50ms, linear, 0);
					@media only screen and (max-width: 1240px) {
						max-height: none;
						height: 50px;
						margin-top: 8px;
					}
					@media only screen and (max-width: 959px) {
						height: 35px;
						margin-top: 9px;
					}
					@media only screen and (max-width: 767px) {
						height: 64px;
						margin: 9px 0;
					}
					@media only screen and (max-width: 479px) {
						height: 36px;
						margin: 11px 0;
					}
				}
			}


			#main-menu > ul.menu > li > a {
				.transition ( line-height, 50ms, linear, 0);
				i {
					.transition ( line-height, 50ms, linear, 0);
					@media only screen and (max-width: 1240px) and (min-width: 960px) {
						top: 3px;
					}
				}
			}
			#main-menu ul li.menu-item-simple-parent {
				&:last-child,
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(7) {
					ul li ul {
				    right: 220px;
				    left: inherit;
					}
				}
			}
		}
	}
}

#header-wrapper-sticky-wrapper.is-sticky {
	#header {
		&.header2, &.header3 {
			#logo {

				img {
				.transition ( all, 300ms, linear, 0);

					max-height: none;
					height: 37px;
					width: auto;
					@media only screen and (max-width: 959px) {
						height: 30px;
					}
					@media only screen and (max-width: 767px) {
						height: 42px;
						margin: 8px 0;
					}
					@media only screen and (max-width: 479px) and (min-width: 320px) {
						height: 36px;
						margin: 11px 0;
					}
				}
				@media only screen and (max-width: 767px) {
					margin-bottom: 0 !important;
				}
			}
			#main-menu > ul.menu > li > a {
				.transition ( line-height, 300ms, linear, 0);
				i {
					.transition ( line-height, 300ms, linear, 0);
					@media only screen and (max-width: 1240px) and (min-width: 960px) {
						top: 0;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 767px) {
		height: 125px !important;
	}
	@media only screen and (max-width: 479px) and (min-width: 320px) {
		height: 95px !important;
	}
}


.fullwidth-section {
	background-size: cover;
		position: relative;
	.container > * {
		position: relative;
	}
}
.main-title-section h1, .exec-member {
	.thin {
		font-weight: 300;
		font-size: .70em;
	}
	.tall {
		font-size: 1em;
	}
	.sub-heading {
		font-size: .70em;
		font-weight: 300;
		padding: .05em 0 .05em 0.5em;
		margin-left: .5em;
		border-left: 1px solid #000;
		border-color: inherit;
	}
}
.img-full-width {
	width: 100%;
	height: auto;
}

.blog-entry .entry-title h4 {
	margin-top: 0;
}

.border-title span {
	display: inline-block;
	line-height: 1em;
	max-width: 70%;
}

#footer {
	.footer-widgets-wrapper {
		position: relative;
		.column.dt-sc-one-fourth {
			position: initial;
			.award-apm {
			  text-align: center;
			  position: relative;
			  left: -130%;
			  float: left;
			  width: 100%;
			  height: 80px;
			  margin-left: -80px;
			  @media only screen and (max-width: 1240px) and (min-width: 960px) {
				  left: -128%;
			  }
			  @media only screen and (max-width: 959px)  {
				  left: -118%;
			  }
			  @media only screen and (max-width: 767px)  {
				  left: 0;
				  margin-left: 0;
			  }
			  @media only screen and (max-width: 479px)  {

			  }
			}
		}
	}
}




/* reviews enhancements */
.fullwidth-section.reviews {
	margin-top: -65px;

	.reputation_kahuna_reviews_container {
		background: none;

		.review-video, .review-text {
			padding: 15px;
			box-sizing: border-box;
			overflow: auto;
			border: none;
			background: rgba(255,255,255,.95) !important;
			font-size: 1.25em;
			line-height: 1.75em;
			margin-bottom: 20px;
		}
		.review-text {
			.review-source-logo {
				float: left;
				margin-right: 0.8em;
				a img {
					width: 120px;
					height: auto;
				}
			}
			&> div > br {
				display: none;
			}
			.author-section {
				float: left;
			}
			.source-section {
				img {
					position: relative;
					top: 2px;
				}
			}
		}
	}
}

/** SPECIFIC STYLES **/
h1, h2, h3, h4, h5, h6 {
	a {
		color: @base-color;
		font-weight: bold;
	}
}

.dt-sc-callout-box {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

/*	Excutive Team  */
.exec-team {
	.dt-sc-team {
		position: relative;
		display: inline-block;
		margin-bottom: 10px;

		.image {
			padding: 0px 0px 12px;
			img {
				border: 1px solid @base-color;
				position: relative;
				top: -1px;
				left: -1px;
			}
		}
	}
	.fancybox-vimeo {
		i {
			position: absolute;
			display: inline-block;
			z-index: 1;
			left: 50%;
			top: 65px;
			font-size: 56px;
			width: 56px;
			height: 56px;
			margin-left: -27px;
			color: #fff;
			opacity: 0;
			.transition ( opacity, 300ms, linear, 0);
		}
		.dt-sc-team {
			.image {
				border-radius: 100%;
				padding: 0;
				margin-bottom: 20px;
				max-height: 180px;
				background-color: @base-color;

				img {
					opacity: 1;
					.transition ( all, 300ms, linear, 0);
				}
			}
		}

		&:hover {
			i {
				opacity: 1;
				.transition ( opacity, 300ms, linear, 0);
			}
			.dt-sc-team {
				.image {
					img {
						opacity: .25;
						.transition ( all, 300ms, linear, 0);
					}
				}
			}
		}
	}
}

// a border class for forms (when needed)
.gform-container {
	border: 1px solid #E3E3E3;
	padding: 0 5px 0px 15px;
	.box-sizing (@type: border-box)
}



/* contact us */
.contact-us {
	margin-bottom: 40px;
	.gform_wrapper {
		.gform_body .gform_fields .gfield {
			.gfield_label { width: 20%; margin-top: 13px;}
			.ginput_container {
				width:77%;
				display: inline-block;
				input, textarea {
					margin-top: 0;
				}
				.selection-box {
					margin-bottom: 10px;
				}
			}
		}
		.gform_footer {
			&.right_label, &.left_label {
				padding: 16px 0 10px 17%;
			}
		}
	}
}

.single-property-info {
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;

	li.addthis_toolbox {
		float: right;
		padding: 8px 0;
		span {
			float: left;
			color: #868686;
	    top: 6px;
	    position: relative;
		}
		a {
			color: #868686;
			font-size: 32px;
			padding: 0 3px;
			margin-bottom: 2px;
		}
	}
}

.property-single-detail {
	.form-padding {
		margin: 4% 5%;
		.icon {
			float: left;
			margin-right: 15px;
		}
	}
	.form-heading {
		margin-bottom: 15px;
		border-bottom: 1px solid #e2e2e2;
	}
	.form-title {margin-bottom: 0;}
	.form-description {font-size: 1.1em; margin-bottom: 5px;}
	.gform_wrapper {
		input {margin: 2px 0 4px;}
		li.gfield {padding-bottom: 0;}
		.top_label .gfield_label {margin: 0 0 0 0;}
		.gform_footer {padding: 0; margin: 0;}
	}
	.rental-app-link {
		float: left;
		margin: -70px 0 0 80px;
	}
	// overwrite styles from plugin settings
	.zl_matetabs {
		// border: 1px solid @base-color !important;
		&> ul {
			height: 62px;
			// background-color: @base-color !important;

			@media only screen and (max-width: 959px) { height: 0;}
		}
		.zl_switch_to_nav {
			display: block !important;
			padding: 20px 1.85% !important;
			@media only screen and (max-width: 1240px) { font-size: 14px !important; padding: 20px 2% !important; }
			@media only screen and (max-width: 959px) { display: none !important;}
			@media only screen and (max-width: 767px) { padding: 20px 15px !important; }
			&:hover { background-color: #004B5E !important; color: #fff !important;  }
			&.zl_nav_trig {
				display: none !important;
				border: 1px solid #004B5E !important;
				@media only screen and (max-width: 959px) { display: block !important;}
				&:hover { background-color: #004B5E !important; color: #fff !important;  }
			}
		}
	}

	#photo-gallery-tab {
		.gallery {
			.gallery-item { margin-top: 0;
				@media only screen and (max-width: 767px) { width: 50%; }
				@media only screen and (max-width: 479px) { width: 100%; }
				.gallery-icon { margin-bottom: 0; }
				a {
					display: block;
					width: 100%;
					img {
						display: block;
						height: auto;
						.box-sizing(border-box);
						// &:hover { border: 10px solid #868686; }
					}
					&:hover {
						img { border: 10px solid @base-color !important; }
					}
				}
			}
		}
	}

	.amenities-list {
		li { .box-sizing(border-box); width: 23%;
			@media only screen and (max-width: 1240px) { margin: 0; width: 33.33%;}
			@media only screen and (max-width: 959px) {}
			@media only screen and (max-width: 767px) { width: 48%; margin-left: 2%; }
			@media only screen and (max-width: 479px) and (min-width: 320px) {}
		}
	}
}

.property-management-services {
	.dt-sc-one-fourth {
		.dt-sc-colored-box {
			text-align: center;
			h5 {
				min-height: 44px;
				margin-bottom: 0;
				span {
					display: none;
				}
			}
			img {
				margin-bottom: 0;
				width: 100%;
			}
		}
	}
}



.apartment-management {
	.dt-sc-two-sixth {
		img {
			width: 100%;
		}
	}
}

.bg-apartment {
	background: url('img/bg-apartment.jpg') no-repeat top center;
	.background-size (cover);
}
.bg-association {
	background: url('img/bg-condo.jpg') no-repeat top center;
	.background-size (cover);
}
.bg-commercial {
	background: url('img/bg-commercial.jpg') no-repeat top center;
	.background-size (cover);
}
.bg-condo {
	background: url('img/bg-singlehome.jpg') no-repeat top center;
	.background-size (cover);
}

/*
.bg-client-concierge {
	background: url('img/bg-condo.jpg') no-repeat top center;
	.background-size (cover);
}
.bg-client-concierge-alt {
	background: url('img/bg-client-concierge-alt.jpg') no-repeat top center;
	.background-size (cover);
}
.bg-client-concierge-commercial {
	background: url('img/bg-commercial.jpg') no-repeat top center;
	.background-size (cover);
}
*/


.content-full-width {
	.page {
		display: inline-block;
		width: 100%;
	}
}
section.fullwidth-background + section.content-full-width .bg-landing {
  margin-top:-65px;
}
.bg-landing, .bg-overlay {
	color: #fcfcfc;
	padding: 30px 0;
	position: relative;
	overflow: hidden;
	
	&:before {
		content: "";
		background: @base-color;
		opacity: .9;
		height: 9999px;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
	}
	
	&.light {
		color: #333;
		&:before { background: transparent; }
	}

	&.black:before { background: black; }
	&.red:before { background: #e74c3c; }
	&.blue:before { background: #3498DB; }
	&.green:before { background: #27AE60; }
	&.violet:before { background: #9b59b6; }
	&.orange:before { background: #F67F45; }
	&.yellow:before { background: #f1c40f; }
	&.white:before { background: white; }
	&.light-blue:before { background: #CBE0E5; }

	&.bg-maintenance-tickets:before { background: #0EABCD; }
	&.bg-concierge-requests:before { background: #595CA1; }
	&.bg-properties:before { background: #7D888E; }
	&.bg-vacancies:before { background: #B31F41; }
	&.bg-action-items:before { background: #D07A75; }
	&.bg-documents:before { background: #34495E; }
	&.bg-vip-resources:before { background: #81C77F; }
	
	&.bg-action-items, &.bg-vip-resources, &.bg-concierge-requests, &.bg-delinquencies, &.bg-documents, &.bg-vacancies, &.bg-properties { &:before {
			opacity: 1;
	}	}
	

	h2, h3, h4, h5 {
		color: #fdfdfd;
		position: relative;
	}
	h2.title {
		text-align: center;
		font-size: 43px;
		line-height: 57px;
		font-weight: 700;
		padding-bottom: 20px;
		border-bottom: 2px dotted rgba(255,255,255,0.7);
	}
	h5 { font-weight: bold; }
	p {
		font-size: 20px;
		font-weight: 500;
		line-height: 25px;
	}
	ul {
		list-style-type: none;
		li {
			font-size: 20px;
			font-weight: 500;
			line-height: 25px;
			h3, p { font-size: 1.1em; }
			h3 {
				font-size: 1.1em;
				margin: 0;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
	
	&.body-content {
		margin-top: 75px;
		font-size: 1.2em;
		line-height: 1.5em;
	
		p { margin-bottom: 1em; }
		ul { list-style-type: square; }
	}
}

.bg-landing {
	&.bg-client-concierge,
	&.bg-client-concierge-alt,
	&.bg-client-concierge-commercial {
		margin-bottom: 0;
		padding-bottom: 0;
		margin-top: 0 !important;
		h3, h4 {
			font-weight: bold;
			margin-top: 20px;
			span.fa {
				position: absolute;
				top: 3px;
				left: -30px;
				@media only screen and (max-width: 959px) {
					position: relative;
					top: 0;
					left: 0;
				}
			}
		}
		ul li, p { font-size: 1em; }

		p {
			&.img { line-height: 1em; margin-bottom: 0; position: relative; top: 2px;}
			&.cta-buttons {
				margin-bottom: 50px;
				span {
					font-size: 20px;
					margin-left: 10px;
					margin-right: 10px;
					display: inline-block;
					color: #000;
				}
			}
		}

		@media only screen and (max-width: 959px) {
			.dt-sc-one-fifth, .dt-sc-four-fifth, .dt-sc-one-sixth, .dt-sc-four-sixth {
				text-align: center;
				width: 100%;
				margin: 0;
			}
			.dt-sc-four-fifth {
				padding: 0 15%;
				width: 70%;
			}
		}
	}
	&.bg-dashboard {
		h2, h3, h4, p { text-align: center; color: #000;}
		h3, h4 {
			span.fa {
				position: relative;
				top: 0;
				left: 0;
			}
		}
		&:before { background: #fff; }
		.browser-mockup {
			border-top: 2em solid rgba(230, 230, 230, 0.7);
			box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
			position: relative;
			border-radius: 3px 3px 0 0;
		}
		.browser-mockup:before {
			display: block;
			position: absolute;
			content: '';
			top: -1.25em;
			left: 1em;
			width: 0.5em;
			height: 0.5em;
			border-radius: 50%;
			background-color: #f44;
			box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
		}
		.browser-mockup > * { display: block; }
	}

}

.bg-4-reasons {
	padding: 8em 0 14em !important;
	@media only screen and (max-width: 767px) {
		padding: 3em 0 14em !important;
	}
}


ul.dt-sc-fancy-list.white li:before { color:#fcfcfc; }

.overflow-hidden {
	overflow: hidden;
	position: relative;
}
hr.large { margin: 80px 0;}

.landing-page {
	.container > p { display: none;}

	// border-top: 1px solid #E9E9E9;
	// padding-top: 80px;
	float: none;
	@media only screen and (max-width: 768px) {
		padding-top: 110px;
	}
	h6 {
		font-size: 1.25em;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 1px;
	}

	img {
		width: 100%;
		position: absolute;
		top: -30px;
		@media only screen and (max-width: 768px) {
			position: relative;
			top: 0;
		}

	}
}

.management-table {
	.dt-sc-tb-title {
		h5 {
			padding: 20px 0;
			font-size: 14px;
		}
	}
	.dt-sc-price {
		padding: 35px 0;
		font-size: 38px;
		line-height: 1em;
		span {
			display: block;
			padding: 0;
			font-size: 14px;
		}
	}

	&.rental-home {
		.dt-sc-tb-content li {
			height: 66px;
		}
	}

	.dt-sc-tb-content li {
		color: @base-color;
		height: 50px;
		display: table;
		width: 100%;
		padding: 7px 0;
		.table-label, .table-img, .table-text {
			display: none;
			text-align: center;
			vertical-align: middle;
			padding: 0 5%;
			@media only screen and (max-width: 768px) {
				display: table-cell;
			}
		}
		.table-img, .table-text {
			display: table-cell;
		}
		.table-label {
			@media only screen and (max-width: 768px) {
				width: 70%;
				padding: 0 10%;
				text-align: left;
			}
		}
		.table-img {
			font-size: 2em;
		}

		.no {
			color: #DFDFDF;
		}
		&.plan-desc {
			background: #F6F6F6;
			border-top: 1px solid #DFDFDF;
			.table-label {
				display: table-cell;
				color: #1c1c1c;
				text-transform: uppercase;
				font-weight: normal;
				opacity: .5;
			}
		}
	}



	.dt-sc-pr-tb-col.selected, .dt-sc-pr-tb-col:hover{
		.dt-sc-tb-title {
			h5 {
				padding: 25px 0;
				font-size: 14px;
			}
		}
		.dt-sc-price {
			padding: 45px 0;
		}
	}

	.dt-sc-one-sixth {
		@media only screen and (max-width: 768px) {
			margin-bottom: 5.5em;
		}
	}
}


/** custom testimonials **/
.testimonials-section {
	.container {
		width: 100%;
		margin: 1.5em 0;
		padding: 0;
		-moz-column-gap: 1.5em;
		-webkit-column-gap: 1.5em;
		column-gap: 1.5em;
		font-size: .85em;
		.column-count (3);
		-moz-column-gap: 1em;
		-webkit-column-gap: 1em;
		column-gap: 1em;
		-moz-column-gap: 1.5em;
		-webkit-column-gap: 1.5em;
		column-gap: 1.5em;
	
		overflow: auto;
	
		@media only screen and (max-width: 1240px) { .column-count (3); }
		@media only screen and (max-width: 959px) { .column-count (2); }
		@media only screen and (max-width: 767px) { .column-count (2); }
		@media only screen and (max-width: 479px) and (min-width: 320px) { .column-count (1); }
	
		.testimonials {
			display: inline-block;
			background: #fff;
			// padding: 1em;
			margin: 0 0 1.5em;
			width: 100%;
			.box-sizing-border-box (border-box);
			display: inline-block;
			margin: 0 0 1em;
			width: 100%;
	
	
			.dt-sc-testimonial {
				display: block;
				width: 100%;
				position: relative;
			
				padding: 0;
				margin: 0;
				.box-sizing-border-box (border-box);
				border: 1px solid #e6e6e6;
			
				.author {
					bottom: 0;
					top: auto;
					img {
						border-radius: 0;
					}
				}
				blockquote {
					margin: 0 0 22px;
					background: #EEEEEE;
					border: 0;
					&:before {
						background: none;
					}
				}
				.author-detail {
					display: inline-block;
					text-align: left;
					width: 100%;
					min-height: 75px;
					margin-top: -20px;
					margin-right: 5px;
					padding-left: 85px;
					font-size: 1.5em;
					.box-sizing-border-box (border-box);
					span {
						width: 100%;
						font-size: .9em;
						span {
							line-height: 1.25em;
							display: block;
							width: 100%;
						}
					}
					@media only screen and (max-width: 1240px) { padding-left: 85px; }
					@media only screen and (max-width: 959px) { padding-left: 85px; }
					@media only screen and (max-width: 767px) {
						padding-left: 60px;
						min-height: 49px;
						font-size: 1.25em;
					}
					@media only screen and (max-width: 479px) and (min-width: 320px) {
						span { font-size: .9em;}
					}
				}
			}
		}
	}
}

/** Gravity Forms **/

@import url("css/custom-forms-style.less");
@import url("css/iconography.less");
@import url("css/specific-page-styles.less");
@import url("css/dropkick.less");




